.home_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 130vh;
}
.loading_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 130vh;
}
.search_failed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130vh;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 65%;
  /*   background-color: aquamarine; */
}
.span_filt{
    font-family: Oswald;
    font-size: 30px;
    margin-top: 100px;
}
.options{
    background-color: rgb(65, 65, 65);
}
.pikachu_fail{
    height: 300px;
    width: 300px;

}
.span_fail{
    font-family: Oswald;
    margin-top: 150px;
    font-size: 30px;
}
.span_load{
    font-family: Oswald;
    font-weight: 900;
    font-size: 60px;
    position: relative;
    left:15px
}
.snorlax_load{
    margin-top: 150px;
    height: 300px;
    width: 300px;
    
}
@media (min-width: 1600px) {
    .home_container{
        height: 90vh;
    }
    .loading_container{
        height: 90vh;
    }
    .search_failed{
        height: 90vh;
    }
    .loading_container{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 600px) {
    .home_container{
        height: 100vh;
        width: 100vw;
        transform: scale(0.5);
        justify-content: flex-start;
        align-content: flex-start;
        justify-items: flex-start;
    }
    .loading_container{
        height: 100vh;
    }
    .cards{
        flex-direction: column;
        height: 100vh;
        position: relative;
        justify-content: center;
        align-items: center;
        top: 3500px;
        width: 100%;
        flex-wrap: nowrap;
        background: black;
    }
}
