.select_container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
/*     background-color: #a1a1a1; */
}
.select_span{
    font-family: Oswald;
    margin-right: 30px;
    font-size: 20px;
}
.select{
    width: 120px;
    font-family: Saira;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    margin-left: 5px;
    margin-right: 5px;
    border-style: none;
    border-radius: 5px;
    color: aliceblue;
    background: linear-gradient(to right, #525252, rgb(158, 158, 158));
    transition: box-shadow 0.3s;
    padding-left: 4px;
}
.options{
    background-color: rgb(65, 65, 65);
}
.filt_button{
    margin-left: 5px;
    border-style: none;
    background-color: #222224;
    font-size: 15px;
    color: white;
    height: 30px;
    border-radius: 20px;
    font-family: Saira;
}
.filt_button:hover{
    cursor: pointer;
}
.select:hover{
    cursor: pointer;
}

.select:focus{
    outline: none;
    box-shadow: -3px 3px 5px rgb(109, 109, 109);
}