.searchbar_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
    margin-top: 25px;
   /*  background-color: antiquewhite; */
}
.searchbar{
    height: 30px;
    width: 300px;
    background: linear-gradient(to right, #222224, #5b5b5c);
    font-size: 15px;
    font-family: Saira;
    color: white;
    border: 1px none black;
    border-radius: 30px;
    margin-right: 3px;
    transition: box-shadow 0.3s;
    padding-left: 10px;
}
.search_button{
    border-style: none;
    background-color: #222224;
    font-size: 15px;
    color: white;
    height: 30px;
    border-radius: 20px;
}
.search_button:hover{
    cursor: pointer;
    
}
.searchbar::placeholder{
    color: #a1a1a1;
}
.searchbar:focus{
    outline: none;
    box-shadow: -3px 3px 5px rgb(109, 109, 109);
}
@media (max-width: 600px) {
    .searchbar_container{
        margin:0;
        transform: scale(2.1);
    }
}