.lp_container{
    display: flex;
    margin: 0;
    height: 130vh;
    width: 100vw;
    background-image: url("../../assets/pokemon\ wallpaper.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.link{
    display: inline-block;
    margin: 0;
    text-decoration: none;
}
.pokeball_div{
    border: 3px solid #222224;
    border-radius: 80px;
    height: 80px;
    position: relative;
    width: 600px;
    left: 375px;
    top: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 40px 1px black;
}
.red{
    height: 37px;
    width: 100%;
    background-color: #ee1515;
    border-radius: 7px 7px 0px 0;
    border-bottom: 8px solid #222224;
}
.title{
    display: inline-block;
    position: absolute;
    top: 345px;
    right: 410px;
    text-align: center;
    font-size: 35px;
    display: inline-block;
    font-family: Oswald;
    color: #ffffff;
    letter-spacing: 2px;
    text-shadow: 0 0 5px black;
    transition: text-shadow 0.3s, transform 0.3s;
}
.link:hover{
    cursor: pointer;
}
.title:hover{
    transform: scale(1.08);
    text-shadow: 0 0 10px black;
}